@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css');

* {
  font-family: 'Nunito', sans-serif;
  font-size: 1.2rem;
};

html, body {
  height: 100%;
}