#root {
  min-height: 100vh!important;
}

h1 {
  font-size: 5rem!important;
}

.Landing {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.Landing > * {
  margin: auto!important;
}